#index {
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
#index {
    z-index: 2000;
}
#index.fadeout {
transition: visibility 1s linear, opacity 1s linear;
visibility:hidden;
opacity: 0;
}
#index.fadein {
transition: visibility 1s linear, opacity 1s linear;
visibility:visible;
opacity:1; 
}

#next.fadeout {
transition: visibility 2s linear, opacity 2s linear;
visibility:hidden;
opacity: 0;
}

#password {
visibility:hidden;
opacity:0;
}

#password.fadein {
transition: visibility 0.1s linear 1s, opacity 0.1s linear 1s; /* transition: visibility 1s linear 10s, opacity 1s linear 10s; */
visibility:visible;
opacity:1;
}
#password.fadeout {
transition: visibility 1s linear, opacity 1s linear;
visibility:hidden;
opacity:0;
}
#password.fadeoutbutton {
transition: visibility 0s linear, opacity 0s linear;
visibility:hidden;
opacity:0;
}

.terminal {
font-family: monospace;
color: green;
}

#terminal1.fadeout {
transition: visibility 2s linear, opacity 2s linear;
visibility:hidden;
opacity: 0;
}

#terminal2 {
visibility:hidden;
opacity:0;
}	
#terminal2.fadein {
transition: visibility 0s linear 1s, opacity 0s linear 1s;
visibility:visible;
opacity:1;
}
#terminal2.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}

#terminal3 {
visibility:hidden;
opacity:0;
}	
#terminal3.fadein {
transition: visibility 0s linear 1.5s, opacity 0s linear 1.5s;
visibility:visible;
opacity:1;
}
#terminal3.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}

#terminal4 {
visibility:hidden;
opacity:0;
}	
#terminal4.fadein {
transition: visibility 0s linear 2s, opacity 0s linear 2s;
visibility:visible;
opacity:1;
}
#terminal4.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}

#terminal5 {
visibility:hidden;
opacity:0;
}			
#terminal5.fadein {
transition: visibility 0s linear 6s, opacity 0s linear 6s;
visibility:visible;
opacity:1;
}
#terminal5.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}

#terminal6 {
visibility:hidden;
opacity:0;
}			
#terminal6.fadein {
transition: visibility 0s linear 6.5s, opacity 0s linear 6.5s;
visibility:visible;
opacity:1;
}
#terminal6.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}

#terminal7 {
visibility:hidden;
opacity:0;
}			
#terminal7.fadein {
transition: visibility 0s linear 6.7s, opacity 0s linear 6.7s;
visibility:visible;
opacity:1;
}
#terminal7.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}

#terminal8 {
    visibility:hidden;
    opacity:0;
}			
#terminal8.fadein {
    transition: visibility 0s linear 6.9s, opacity 0s linear 6.9s;
    visibility:visible;
    opacity:1;
}
#terminal8.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}

#terminal9 {
    visibility:hidden;
    opacity:0;
}			
#terminal9.fadein {
    transition: visibility 0s linear 7s, opacity 0s linear 7s;
    visibility:visible;
    opacity:1;
}
#terminal9.fadeout {
    transition: visibility 2s linear, opacity 2s linear;
    visibility:hidden;
    opacity: 0;
}